body {
    overflow: hidden;
}

main {
    display: flex;
    /* gap: 6px; */
    width: 99vw;
    height: 98vh;
    align-items: flex-end;
    justify-content: center;
}

main > div {
    /* width: 12px; */
    /* height: 50vh; */
    background-color: #000;
}

.button__container {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}

.button__container button {
    padding: 10px 30px ;
}